{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}


{% block content %}

<form method="post" action="">

    <div class="form-group">
        <label>last_name</label>
        {{form.last_name(class="form-control")}}
    </div>

        <div class="form-group">
                    <label>frist_name</label>
        {{form.first_name(class="form-control")}}
    </div>

        <div class="form-group">
                    <label>email</label>
        {{form.email(class="form-control")}}
    </div>
        <div class="form-group">
                     <label>password</label>
        {{form.password(class="form-control")}}
    </div>
    <div class="form-group">
                     <label>password2</label>
        {{form.password2(class="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="submit"></p>
</form>
{% endblock %}