
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% block header %}
 <h1>{% block title %}user information{% endblock %}</h1>

{% endblock %}
{% block content %}
<a1>{{ post}}</a1>
<form method="post">
        {{ form.oldpassword.label }}{{ form.oldpassword }}<br>
        {{ form.password.label }}{{ form.password }}<br>
        {{ form.password2.label }}{{ form.password2 }}<br>


    

        {{ form.submit }}
    </form>
    <li><a href="{{ url_for('logout') }}">Log Out</a>


{% endblock %}